.section {
  padding: 80px 0;
  background: #eaf4ff;
}

.container {
  padding: 0 80px;
}


.title {
  margin: 0;
  font-size: 28px;
  color: #1e2a36;
}

.subtitle {
  margin: 8px 0 32px;
  color: rgba(30, 42, 54, 0.6);
  font-size: 14px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 72px; 
  row-gap: 32px;   
  justify-items: center; 
}

.card {
  background: #fff;
  padding: 20px;

  aspect-ratio: 1 / 0.9;   
  width: 100%;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px);
}



.category {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: rgba(30,42,54,0.7);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.content {
  max-width: 200px; 
}


.jobTitle {
   margin: 0;
  font-size: 16px;
  line-height: 1.3;
  color: #1e2a36;

  white-space: normal;
  word-break: break-word;
}


.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  color: rgba(30,42,54,0.6);
   margin-top: 20px; 
}

.location img {
  width: 14px;
}


.company {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
}

.company img {
  height: 18px;
}

.company span {
  font-size: 15px;             
  color: rgba(30, 42, 54, 0.6); 
}


.btnWrap {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.btn {
  background: #243c54;
  color: #fff;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
   .grid {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .card {
    max-width: 100%;
  }
}
