.footer {
  background: #52606d;
  padding: 60px 0 40px;
  color: #ffffff;
}


.container {
  padding: 0 80px;
}


.title {
  margin: 0 0 24px;
  font-size: 22px;
  font-weight: 500;
}


.cities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  gap: 0;
  margin-bottom: 40px;
}

.cities a {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: 0.2s;
  text-align: center; 
}

.cities a:hover {
  color: #ffffff;
}



.line {
  width: 100%;
  height: 1px;
  background:#465461;
  margin-bottom: 32px;
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo img {
  height: 26px;
  width: auto;
  opacity: 0.9;
}



.socials {
  display: flex;
  gap: 20px;
  margin-top: 20px; 
}

.socials img {
  width: 22px;
  height: 22px;
  opacity: 0.8;
  transition: 0.2s;
}

.socials img:hover {
  opacity: 1;
  transform: translateY(-2px);
}


@media (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
    .cities {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 14px;
  }
  .cities a {
    text-align: left; 
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

   .cities {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
  }

  .bottom {
    flex-direction: column;
    gap: 20px;
  }

  .logo img {
    height: 22px;
  }
}
